@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  background: #f5f6fa;
}
.a{
  text-decoration: none;
  color: inherit;
}


/*sol bar */
.wrapper .sidebar{
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background: #293b4d;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  padding: 50px 0;
  transition: all 0.5s ease;
}

.wrapper .sidebar .profile{
  margin-bottom: 30px;
  text-align: center;
}

.wrapper .sidebar .profile img{
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
}

.wrapper .sidebar .profile h3{
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
  color: rgb(206, 240, 253);
  font-size: 14px;
}

.wrapper .sidebar ul li a{
  display: block;
  padding: 20px 15px;
  color: rgb(241, 237, 237);
  font-size: 20px;
  position: relative;
  text-decoration: none;
}

.wrapper .sidebar ul li a .icon{
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}

 

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  color: #262a2c;

  background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
  color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
  display: block;
}

.wrapper .section{
  width: calc(100% - 225px);
  margin-left: 225px;
  transition: all 0.5s ease;
}

.wrapper .section .top_navbar{
  background:  #293b4db2;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 30px;
 
}

.wrapper .section .top_navbar .hamburger a{
  font-size: 28px;
  color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover{
  color: #f4fbff;
}

 .wrapper .section .container{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  padding-left: 120px;
  padding-top: 5px;
  overflow-y: scroll;
}

body.active .wrapper .sidebar{
  left: -225px;
}

body.active .wrapper .section{
  margin-left: 0;
  width: 100%;
}
/* surukle bırak dosya yukleme */
#drop_file_zone {
  margin-top: 50px;
  background-color: rgba(238, 238, 238, 0.534);
  border:  #3a536b 5px dashed;
  width: 800px;
  height: 400px;
  padding: 50px;
  font-size: 25px;
  margin-left: 18%;
  text-align: center;
}

#drag_upload_file {
margin:0 auto;
width: 50%;
}

#drag_upload_file #selectfile {

display: none;
}
#drop_file_zone .yukle{
  color: #fff;
  padding: 15px;
  background-color: #3a536b;
  font-family: 'Lato';
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 15px;
  position: relative;
  width: 150px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.container .bolum {
  margin-left: 20%;
  padding: 30px;
  width:60%;
  text-align: center;
}
.container .bolum p{
  font-family: 'Arial';
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 40px;
  color:  #3a536b;

}

/*yuklenen projeler*/

.container .row{
  margin-left: 10px;
  padding: 20px;
  float: left;
  margin-bottom: 20px;


}
.container .row label{
  font-size: 20px;
}
.container .row .InputBox{
  font-size: 20px;
  position: relative;
  font-family: Arial;
  background-color: #3a536b2c;
}
.container .btn{
  margin-left: 30px;
  margin-top: 15px;
  width: 90px;
  background-color: #3a536bc5;
}

/*proje bilgi*/

.container .nav a{
  color: #3a536b;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.container  .yazarbilgileri{
  text-align: center;
  padding: 30px;

}
.container  .yazarbilgileri label{
  font-weight:800;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #3a536bc5;
}
.container  .yazarbilgileri p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-bottom: 30px;
  
}